{% extends 'main/base.html' %}

{% block title %} Blog sahifa  {% endblock title %}
{% block content %}
    {% for article in blog_list %}
<div class="card" style="width: 45rem; margin: auto; padding: 10px;">
    <h2 class="card-title"><a  href="{% url 'article_detail_url' article.pk %}">{{ article.title }}</a></h2>
{% if article.photo %}
  <img src="{{ article.photo.url }}" class="card-img-top" alt="{{article.title}}">
{% endif %}
  <div class="card-body">
    <p class="card-text">{{article.summary}}</p>
    <p>Muallif: {{article.author | title}} - {{article.date}}</p>
    <a href="{% url 'article_detail_url' article.pk %}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    {% endfor %}
{% endblock content %}
